.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  justify-items: center;
}

.individual-project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  border: 1px solid white;
  border-radius: 15px;
  box-shadow: white 3px 3px 5px;
  color: white;
  background-color: black;
  opacity: 0.9;
  padding: 1rem;
  gap: 1rem;
  margin-top: 1em;
}

.project-title {
  justify-self: center;
  align-self: center;
  grid-row: 1/2;
  border-bottom: 1px solid white;
  padding-bottom: 1rem;
}

.project-image {
  justify-self: center;
  align-self: center;
  max-height: 25em;
  grid-row: 2/3;
}

.project-description {
  justify-self: center;
  align-self: center;
  grid-row: 3/4;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 1rem;
}

.project-button-group {
  grid-row: 4/5;
  justify-self: center;
  align-self: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 1rem;
}

.project-button {
  background: black;
  color: white;
  border: 1px solid white;
  border-radius: 14px;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  text-decoration: none;
  text-align: center;
}

.project-button > a {
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  color: white;
}

.project-button:hover {
  color: black;
  background: white;
}

.project-button:hover > a {
  color: black;
}

.project-border {
  border-bottom: 1px solid white;
}
