.landing-page-container {
  color: white;
  font-size: x-large;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(80vh, 1fr));
  justify-items: center;
  align-items: center;
}

.profile-pic {
  border-radius: 15px;
  opacity: 0.8;
  transition: 2s;
  height: 30rem;
}

