.appHeaderContainer {
  display: grid;
  height: 100vh;
  grid-template-columns: 100vw;
  color: white;
  font-size: x-large;
  justify-items: center;
  align-items: center;
}

.welcomeMessage {
  align-self: end;
}

.profilePic {
  width: auto;
  border-radius: 15px;
  opacity: 0.8;
  transition: 2s;
}

.profilePic:hover {
  opacity: 1;
  transform: scale(1.2, 1.2);
}

