.errorMessageDiv{
    height: 100vh;
    display: flex;
    color: white;
    justify-content: center;
}

.errorContent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    opacity: 0.8;
    border: 1px solid white;
    height: 15em;
    border-radius: 15px;
    margin-top: 20em;
    padding-left: 5vw;
    padding-right: 5vw;
    overflow: auto;
}