.aboutMeContainer {
  display: grid;
  color: white;
  gap: 1em;
  margin: 1rem;
}

.profileFacePicGridItem {
  grid-column: span 1;
  justify-self: center;
}

.profileFacePic {
  height: 20em;
  border-radius: 15px;
}

.grid-item {
  grid-row: span 1;
  grid-column: span 1;
  align-self: center;
  justify-self: center;
}

.grid-item-last {
  grid-row: span 1;
  grid-column: span 1;
  align-self: center;
  justify-self: center;
}