.card-item {
  border: 1px solid white;
  border-radius: 15px;
  padding-left: 2vw;
  padding-right: 2vw;
  background-color: black;
  opacity: 0.9;
}

.card-header {
  border-bottom: 1px white solid;
  padding-bottom: 1vh;
}

.carousel-button-group{
  margin-top: 2vh;
}