.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  height: auto;
  background-color: black;
  opacity: 0.9;
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid white;
}

.nr-logo {
  height: 5em;
  border-radius: 15px;
}

.nav-links {
  color: white;
  text-decoration: none;
  justify-self: flex-end;
  font-size: x-large;
  margin-right: 2rem;
}

.nav-links-to-end {
  margin-left: auto;
}
