.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  height: auto;
  width: 100vw;
  background-color: black;
  opacity: 0.9;
  overflow: hidded;
  top: 0;
  position: fixed;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.nr-logo {
  height: 5em;
  border-radius: 15px;
}

.nav-links {
  color: white;
  text-decoration: none;
  justify-self: flex-end;
  font-size: x-large;
  font-weight: 400;
  margin-right: 2rem;
}

.nav-links-to-end{
    margin-left: auto;
}